<style>
    @media (min-width: 769px) {
        .book-body, .book-summary{
            top:80px;
        }
    }
    
    ._1r9o1wh {
        -webkit-box-align: center;
        -ms-flex-align: center;
        max-width: 1400px;
        width: 100%;
        margin: 0px auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 0;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
    }

    ._197pih1 {
        display: block;
        margin: 0px;
        padding: 0px;
    }


    ._13gjrqj {
        vertical-align: middle;
    }

    ._18aw4nbd {
        display: block;
        margin: 0px;
        padding: 0px;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    @media (max-width: 768px) {
        ._18aw4nbd {
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
        }
    }

    ._19oo27hk {
        -webkit-box-align: center;
        -ms-flex-align: center;
        cursor: pointer;
        color: #3884FF;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        text-decoration: none;
        -webkit-align-items: center;
        align-items: center;
    }

    ._hs5eseb {
        max-width: 100%;
        border-radius: 3px;
        overflow: hidden;
        height: 50px;
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500;
    }

    ._bf464ah {
        display: block;
        margin: 0px;
        padding: 0px;
        padding-left: 16px;
        color: #fff;
    }

    ._1vt7wazf {
        justify-content: flex-end;
        -ms-flex-item-align: stretch;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-self: stretch;
        align-self: stretch;
        padding: 0px 8px;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow: auto;
        -webkit-transition: -webkit-flex 0.2s, flex 0.2s, width 0.2s, opacity 0.2s;
        -moz-transition: flex 0.2s, width 0.2s, opacity 0.2s;
        transition: -ms-flex 0.2s, -webkit-flex 0.2s, flex 0.2s, width 0.2s, opacity 0.2s;
        opacity: 1;
    }

    @media (max-width: 768px) {
        ._1vt7wazf {
            display: none;
        }
    }

    ._1yfpgmz {
        -webkit-box-align: center;
        -ms-flex-align: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        height: 100%;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        white-space: nowrap;
    }

    ._1b0mbazz {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        line-height: 1em;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        outline: none;
        border: 1px solid;
        cursor: pointer;
        -webkit-transition: 0.2s ease-out;
        -moz-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
        text-decoration: none;
        border-color: transparent;
        background-color: transparent;
        height: 36px;
        padding: 0px 24px;
        color: #fff;
    }

    ._1b0mbazz:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    ._1b0mbazz:hover {
        color: #FFF;
        text-decoration: none;
        box-shadow: 0 2px #3892ff;

    }

    ._unkj9rz {
        font-size: 16px;
        font-weight: 500;
        line-height: 1em;
    }

    ._tkazff7 {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        background: #062f49;
        border-bottom: 1px solid #d4dadf;
        box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
        z-index: 20;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
        position: relative;
        -webkit-flex: 0 80px;
        -ms-flex: 0 80px;
        flex: 0 80px;
        min-height: 80px;
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 768px) {
        ._tkazff7 {
            display: none;
        }
    }

    ._pgthr0f {
        font-size: 28px;
        line-height: 1.5;
        font-weight: 500;
    }

    ._dx17lz {
        margin-left: 16px;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        max-width: 200px;
        min-width: 200px;
        -webkit-transition: -webkit-flex 0.2s, flex 0.2s, width 0.2s;
        -moz-transition: flex 0.2s, width 0.2s;
        transition: -ms-flex 0.2s, -webkit-flex 0.2s, flex 0.2s, width 0.2s;
    }

    @media (min-width: 769px) {
        ._dx17lz {
            position: relative;
        }
    }

    @media (min-width: 769px) {
        ._u86lh {
            position: relative;
            z-index: 1;
        }
    }

    ._e296pg {
        position: relative;
    }

    ._4wqhllk {
        -webkit-box-align: center;
        -ms-flex-align: center;
        margin: 0px;
        padding: 0px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        border-radius: 4px;
        background: #F5F7F9;
        border: 1px solid #E6ECF1;
    }

    ._1d0akvkp {
        border-radius: 3px;
        outline: none;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 16px;
        line-height: 1.625;
        font-weight: 400;
        background: transparent;
        border: none;
    }

    ._1haclicl {
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
        border: none;
        outline: none;
        margin: 0px;
        width: 100%;
        color: inherit;
        background: transparent;
        font: inherit;
        text-align: inherit;
        line-height: inherit;
        cursor: inherit;
        resize: none;
        border-radius: 3px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 38px;
        padding: 0px 8px;
    }

    ._1haclicl::placeholder {
        font-weight: 300;
        color: #74818D;
    }

    ._a0q8y6s {
        -ms-flex-order: -1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-flex: auto;
        -ms-flex: auto;
        flex: auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding-left: 10px;
        color: #9DAAB6;
        line-height: 1.2;
        white-space: nowrap;
        -webkit-order: -1;
        order: -1;
    }

</style>
<div class="_197pih1">
    <div data-test="headerdesktop" class="_tkazff7">
        <div class="_1r9o1wh">
            <div class="_18aw4nbd"><a class="_19oo27hk" style="color:#fff" href="/"><div class="_197pih1"><img class="_hs5eseb"
                            src="../static/logo.484ce8c.png"></div>
                    </a></div>
            <div class="_1vt7wazf">
                <div class="_1yfpgmz" style="border-bottom-color:transparent"><a class="_1b0mbazz" target="_blank" rel="noopener noreferrer"
                        href="/"><span class="_unkj9rz">首页</span></a></div>
                <div class="_1yfpgmz" style="border-bottom-color:transparent"><a class="_1b0mbazz" target="_blank" rel="noopener noreferrer"
                        href="//res.wisedu.com/FS/docsite2x/"><span class="_unkj9rz">组件库2.x</span></a></div>
                <div class="_1yfpgmz" style="border-bottom-color:transparent"><a class="_1b0mbazz" target="_blank" rel="noopener noreferrer"
                        href="//res.wisedu.com/FS/docsite/"><span class="_unkj9rz">组件库1.x</span></a></div>
                <div class="_1yfpgmz" style="border-bottom-color:transparent"><a class="_1b0mbazz" target="_blank" rel="noopener noreferrer"
                        href="//http://res.wisedu.com/mobile-projectlist"><span class="_unkj9rz">模板库</span></a></div>
                <div class="_1yfpgmz" style="border-bottom-color:transparent"><a class="_1b0mbazz" target="_blank" rel="noopener noreferrer"
                        href="//http://res.wisedu.com/forum/"><span class="_unkj9rz">论坛</span></a></div>
            </div>
        </div>
    </div>
</div>